<div class="container-fluid center-all screen-bg">
  <div class="login-container h-75 w-75 row">
    <div class="col-sm-5 my-5 px-3">
      <!-- Login Heading -->
      <h2>Hello There!</h2>
      <p>
        Please enter your email and password
      </p>
      <!-- Form Login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="col-12 my-2 mt-4">
          <span class="p-float-label">
            <input id="email" type="email" pInputText formControlName="email" />
            <label for="email">Email</label>
          </span>

          <div *ngIf="submitted && loginForm.controls['email'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['email'].errors['required']">
              Email is required.
            </div>
            <div *ngIf="loginForm.controls['email'].errors['email']">
              Invalid email format.
            </div>
          </div>
        </div>

        <div class="col-12 my-2 mt-4">
          <span class="p-float-label">
            <p-password id="pass" [feedback]="false" [toggleMask]="true" formControlName="password"></p-password>
            <label for="pass">Password</label>
          </span>

          <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger">
            <div *ngIf="loginForm.controls['password'].errors['required']">
              Password is required.
            </div>
          </div>
        </div>

        <!-- <div class="form-check d-block my-3">
          <input class="form-check-input" type="checkbox" value="" id="remember" />
          <label class="form-check-label" for="remember"> Remember me! </label>
        </div> -->

        <p>If you don’t have the account, please contact
          <a href="mailto:FA.HCM@fsoft.com.vn"> FA.HCM@fsoft.com.vn </a> or... <br>
          > <a routerLink='/register'> Register
            now! </a><br>
          > <a href="#!">Forgot password?</a>
        </p>
        <p-button label="Login" styleClass="p-button-success" type="submit"></p-button>
        <!-- consider use type="submit" instead onSubmit-->
        <!-- <div class="separator">OR</div>
        <p-button label="Login with google" icon="pi pi-google" styleClass="p-button-danger" type="submit"></p-button>
        <p-button label="Login with google" icon="pi pi-facebook" styleClass="p-button-info" type="submit"></p-button>         -->
      </form>
    </div>

    <div class="col-sm-7 px-0 d-none d-sm-block">
      <img src="/assets/extra_img/login-bg.jpg" alt="Login image" class="w-100 h-100 rounded-end"
        style="object-fit: cover; object-position: left;">
    </div>
  </div>
</div>