:host {
  ::ng-deep {
    .p-button,
    .p-toggleButton {
      color: aliceblue;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out;
      padding: 0.4rem 0.7rem;
      .p-button-icon {
        font-weight: 700;
      }
    }
  }
}
